.budget-feedback, 
.expense-feedback{
    display: none;  
}

.show-item{
    display: block;
}

.delete-icon,
.edit-icon{
    cursor: pointer;
    font-size: 1rem;
    text-decoration: none !important;
}

.expense-item{
    height: 2rem;
}

/* .list-item {
    flex: 0 0 33.33%;
    text-align: center;
} */